nav{
    float: right;
    position: static;
    margin-top: -64px;
}
ul{
    list-style:none;

}
li {
    display: inline;
    position: relative;
    margin: 13px;
    padding: 2px;
    
}
li a{
    text-decoration: none;
    font-size: 18px;
    font-stretch: initial;
    color:chocolate;
    font-family: sans-serif;
}
li a:hover{
    color:#c2c2c2;
    transition: 0.5 ease-out;
}

.dropDown {
    position: relative;
    display: inline-block;
  }
.dropDownList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropDownList a {
    color: chocolate;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    
  }
  
  .dropDownList a:hover {
      background-color: #f1f1f1;
      display:block;
     

     
    }
  
  .dropDown:hover .dropDownList {
    display:block;
   
    
  }
  

