.conatinerBox{
    width:70%;
    margin:auto;
    border:1 px solid black;
    /* background-color:#e3f6f5; */
   
    
}
.qustBox{
    margin: auto;
    margin: 10px !important;
    height:100%;
    top:20px;
    padding: 5px;
    text-justify:inherit;
    width: 100%;
    background-color: #bae8e8;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: rgb(238, 232, 232) 5px 5px 1px 1px;
   
    border-radius: 15px;
   
}
.qustBox:hover {
    box-shadow: rgb(75, 73, 72) 2px 5px 5px 0px;
    transition: ease-in-out 0.2s;
}
.question{
    text-align:left;
    margin-left: 20px;
    color: chocolate;
    padding: 10px;
    
}
.question>h3:hover{
    color:#562d7d;
    transition: ease-in-out 0.2s;
}
.answere{
    text-align:left;
    margin-left: 20px;
    color:#05051c;
    padding: 10px;
    line-height: 1.5;
}
span{
    float: right;
    position: relative;
    margin-top: -35px;
}

/* .question {
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;

}
@keyframes example {
  from {left:-200px;}
  to {left:0;}
} */